html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: monospace;
  font-style: normal;
  font: courier;
}

.container {
  width: 90%;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;

}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nameBox{
  width: 100%;
}

.name{
  width:15%;
  float:left;
}

/* .name strong{
  width:25%;
} */

.greeting{
  padding: 1px;
  margin: 10px;
  background-color: #f1f1f1;
  height: 50px;
}

.textInputBox{
  height: 33%;
  width: 65%;
  float: left;
}

.textInputBox textarea {
  width: 90%;
}

.counter {
  width:20%;
  float: left;
}

.radioButtons{
  /* margin-top:30px; */
  width: 100%;
  float:left;
  font-family: monospace;
  font-style: normal;
  font: courier;
  }

  .clickButtons{
    width: 100%;
    float: left;
  }

.language{
  width:30%;
  float:left;
}

.radioBtn{
  margin-top: 25px;
  width:75%;
}

.greetButton{
  width:45%;
  float: left;
}

.resetButton {
  width:45%;
  float: left;

}

.greetMeBtn{
  margin: 20px;
}
.resetTheBtn{
  margin: 20px;
}

.displayField{
  width: 100%;
  /* margin: 5px; */
  float: left;
}

/* .displayName{
  width: 80%;
  float: left;
} */

.spacerForDisplayField {
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
  margin:20px;
  width:90%;
  float: left;
}

.box {
  content: "";
  display: block;
  clear: both;
}
